.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  background-image: url("../images/test_background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

img.navbar-logo {
  width: 60px;
  height: auto;
  vertical-align: top;
}

/*Bootstrap navbar styling */
.navbar-default {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: #A0A0A0;
  height: 0px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: rgba(240, 150, 0, 0.8);
}
.navbar.center .navbar-inner {
  text-align: center;
}
.navbar.center .navbar-inner .nav {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.navbar .navbar-brand {
  line-height: 0;
  margin-top: -15px;
}
/* Bootstrap navbar styling end */
