div.header_container {
  padding-left: 3%;
  margin-bottom: 50px;
}

h1.skills_header {
  font-family: cartoon;
  font-size: 40pt;
  color: #FF8300;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

div.skill_container {
  display: flex;
  margin-bottom: 3px;
}

div.title_container {
  height: 30px;
  width: 90px;
}

div.progress_bar {
  width: 100px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
}

div.loadbar_container {
  height: 100%;
}

span.progress {
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 131, 0, 1);
  animation-name: load;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  border-radius: 0px;
}

div.skills_introduction {
  padding-bottom: 30px;
}

@keyframes load {
  100% {width: 99%;}
}
