<div class="container-fluid test">
  <div class="row">
    <div class="floating-me col-md-1">
      <!-- Might put something here -->
    </div>
    <main class="col-md-8 col-md-offset-1">
      <div class="about">
        <h1>Roy Touw</h1>
        <p>I am a learning <span class="highlight">software</span> engineer from The Netherlands. I am studying software <span class="highlight">engineering</span><br />
          at the University of Applied Sciences <span class="highlight">Leiden</span> at the age of 23.</p>
        <p>Turning good <span class="highlight">ideas</span> into working solutions is my passion. In my spare time I enjoy sports and<br />
          developing my own projects, mainly using <span class="highlight">Java</span> and Javascript.
        I am keen to <span class="highlight">learn</span> more about developing and testing as well as anything that comes along with that.</p>
          <p>Planning to <span class="highlight">graduate</span> in 2018 I would like to keep investing in my own <span class="highlight">projects</span><br/>
          in which I can make my ideas become <span class="highlight">reality</span>.</p>
          <p>Feel free to <span class="highlight">contact</span> me on <span ng-mouseover="test()" class="hoverLinkedin">LinkedIn</span> or by e-mail.</p>
      </div>
    </main>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-8">
      <div>
        <h3>What I've been up to lately:</h3>
        <project></project>
      </div>
    </div>
  </div>
</div>
