<div class="container-fluid test">
  <div class="row">
    <main class="col-md-8 col-md-offset-2">
      <div class="about">
        <h1>Roy Touw</h1>
        <p>I’m a learning <span class="highlight">software</span> engineer from the Netherlands. Currently I am studying software <span class="highlight">engineering</span><br />
          at the university of aplied science <span class="highlight">Leiden</span> at the age of 23.</p>
        <p>Turning good <span class="highlight">ideas</span> in working solutions is my passion. In my spare time I enjoy sports and<br />
          developing my own projects mainly using <span class="highlight">Java</span> and Javascript.
        I am keen to <span class="highlight">learn</span> more about developing and testing as well as anything that comes along with that.</p>
          <p>Planning to <span class="highlight">graduate</span> in 2018 I would like to keep investing in my own projects<br/>
          in which I can (<span class="underlight">hopefully</span>) make my ideas become <span class="highlight">reality</span>.</p>
          <p>Feel free to contact me on <span ng-mouseover="test()" class="hoverLinkedin">Linkedin</span> or by mail.</p>
      </div>
    </main>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-8">
      <div>
        What i've been up to lately.
        <project></project>
      </div>
    </div>
  </div>
</div>
