<div class="container-fluid test">
  <div class="row">
    <main class="col-md-12 col-mf-offset-0">
      <h1>Welkom op de website van Roy Touw.</h1>
      <p>
        Mijn passie is het omzetten van goede ideeën naar hoogstaande software. Hiernaast houd ik mij bezig met de nieuwste technieken binnen de software ontwikkeling.
      </p>
      <p>
        Eind 2014 heb ik mijn propedeuse informatica behaald aan de Hogeschool Leiden, in het voorgaande jaar heb ik de opleiding tot applicatieontwikkelaar versneld afgerond. Momenteel ben ik met veel plezier bezig met de studie software engineering.
      </p>
      <p>
        In mijn vrije tijd ben ik veel bezig met mijn eigen software projecten, deze realiseer ik voornamelijk in de programmeertalen Java en Python. Hiernaast besteed ik ook veel tijd aan de sport powerliften, hierin ambieer ik in de nabije toekomst wedstrijden te gaan doen.
      </p>
      <p>
        Ik vind het belangrijk om doordachte en goed geteste software te ontwikkelen, evenals nooit te stoppen met leren. In de toekomst hoop ik beter te worden in het ontwerpen van software, en meer ervaring op te doen. Mijn positieve eigenschappen zijn dat ik nieuwe dingen snel oppak, enthousiast ben over het leren van nieuwe technieken en goed kan samenwerken.
      </p>
    </main>
  </div>
</div>
